<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
   <body>
         <form name="competitorForm" ng-submit="loguearse(user1, pass1)" ng-controller="loginCtrl" novalidate>
    <h2 class="form-title">Ingrese sus datos para inicio de sesión:</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Nombre de usuario:</label>
            <input ng-model="user1" type="text" class="form-control" required/>
        </div>
        <div class="col-md-6">
            <label>Contraseña</label>
            <input ng-model="pass1" type="password" class="form-control" required/>
        </div>
    </div>
    <input type="submit" value="Enviar" class="btn btn-default">
</form>
    </body>
